@media screen and (max-width: 480px) {
  body {margin: 7%;}
  article {flex-basis: 100%;}
  aside {
    order: 3;
    width: 100%;
  } 
  aside > div {
    width: 100%;
  }

  img {display: none;}

  .work-experience tbody {
    display: flex;
    flex-direction: column;
  }

  .work-experience tr {
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
  }
}

@media screen and (min-width: 480px) {
  body {margin: 7%;}
  aside {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    order: 3;
  }
  aside > div {width: 100%;}
  img {display: none;}

  .work-experience tbody {
    display: flex;
    flex-direction: column;
  }

  .work-experience tr {
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
  }
}

@media screen and (min-width: 600px) {
  body {margin: 5% 10%;}
  aside {width: 100%;}
  aside > div {width: 45%;}
}

@media screen and (min-width: 992px) {
  aside {
    flex-basis: 35%;
    margin-right: 1rem;
    order: 0;
  }
  aside > div {
    width: 100%;
  }
  article {flex-basis: 59%;}
  img {display: block;}
}

@media screen and (min-width: 1200px) {
  body {margin: 5% 18%;}
}

@media screen and (min-width: 1400px) {
  body {
    max-width: 75rem;
    margin: 10% auto 5% auto;
  }
  article table tr td:first-child {width: 30%;}

  .work-experience tr {
    display: table-row;
    padding-bottom: 1.5rem;
  }
}

/* 
Remove printing attributes on the printed version.
More info can be found here: https://stackoverflow.com/a/2573612
*/
@page { 
  size: auto;  
  margin: 0mm;
} 

@media print {
  body {
    margin: 0;
    padding: 10mm 15mm;
  }
  h1, h2, h3, a {font-weight: 500;}
  h1, h2 {
    font-size: 1.25rem;
    margin: 1rem 0;
  }
  h3 {font-size: 1rem;}

  p, td, ul, li {
    font-size: 0.8rem;
    line-height: 1.3rem;
  }

  img {
    height: 14rem;
    margin-left: 3rem;
  }

  aside {flex-basis: 35%;}
  aside section {margin-bottom: 1.5rem;}
  article {flex-basis: 59%;}

  .about p {
    font-size: 1rem;
  }

  .pagebreak { 
    page-break-before: always; 
    padding-top: 10mm;
  }

  .printed-version {margin-top: 0;}

  .work-experience tbody {
    display: flex;
    flex-direction: column;
  }

  .work-experience tr {
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
  }

  footer {padding-top: 13rem;}
}