:root {
  --accent-color: #222;
  --accent-color-light: #bb3825;
  --link-color: #2455c3;
  --visited-link-color: #454555;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: var(--link-color);
  font-family: "Franklin ITC", sans-serif;
  font-weight: bold;
}

body {font-family: Georgia, Times, Times New Roman, serif;}

h1, h2, h3, h4 {
  color: var(--accent-color);
  font-family: "Franklin ITC", sans-serif;
}

h1 {margin-bottom: 2rem;}
h2 {
  font-weight: normal;
  margin: 3rem 0 2rem 0;
}
h3 {
  font-weight: normal;
  margin-bottom: .5rem;
}

p, td, ul, li {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.8rem;
}

img {
  align-self: end;
  max-width: 18.75rem;
  max-height: 18.75rem;
  margin-left: 2rem;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td {vertical-align: top;}
td:first-child {padding-right: 1rem;}

ul {
  list-style-type: square;
  margin-left: 4%;
}

li {padding-bottom: .7rem;}
li:last-child {padding-bottom: 0rem;}

.line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding-top: .7rem;
}
.line p {text-align: right;}
.work-experience-line h4,
.work-experience-line p {display: inline;}
.side-column-container { align-content: flex-start; }
aside table {width: 100%;}
aside table tr td:first-child {text-align: left;}
.skill-grade table tr td:last-child {
  text-align: right;
  font-size: 1rem;
  color: var(--accent-color-light);
  letter-spacing: 0.3rem;
}

aside td,
aside section > h3 {
  line-height: 2.5rem;
}

.education p {
  padding-bottom: 1.5rem;
}
.education p:last-child {
  padding-bottom: 0rem;
}

article table {
  width: 100%;
  text-align: left;
}
article table tr {padding-bottom: 2rem;}
article table tr:last-child{padding-bottom: 0;}
article table p,
.about p {padding-top: 1.5rem;}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about {
  display: flex;
  justify-content: space-between;
}

.about p {
  font-size: 1.2rem;
}

footer {
  display: flex;
  justify-content: center;
  font-size: 0.7rem;
  margin-top: 3rem;
}

footer a {
  margin: 0 0.25rem;
}